body {
   
}

#banner{
   width:50%;
}

.principal{
      backgroud:#cccccc
}

h1{
   style="text aling:certer"
}

p{
   text-aling:center;  
}

#missao{
    font-size: 20px


 em strong{
   color: #FF000;
}   

.itens {
    font_style:italic   
   }   
   
.beneficios{
 backgroud:#ffffff;
}

   h2{
      text-aling:center;
   }
